*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* background: linear-gradient(45deg, gray, transparent); */
}

.alltasks{
  display: grid;
  grid-template-columns: repeat(5 , 19.7%);
  justify-content: space-between;
}
.listoffilters , .alltasks::-webkit-scrollbar{
  display: none;
}
.moretext::-webkit-scrollbar{
  display: none;
}
.tasks::-webkit-scrollbar{
  display: none;
}
.listoffilters::-webkit-scrollbar{
  display: none;
}
@media screen and (width<=1024px) {
  .alltasks{
    display: grid;
    column-gap: 41rem;
    grid-template-columns: repeat(5 , 50%);
  }
}

@media screen and (width<=425px) {
  .alltasks{
    display: grid;
    grid-template-columns: repeat(5 , 100%);
  }
}